.vscode/
*.o
testafila
pingpong-tasks1
pingpong-tasks2
pingpong-tasks3
pingpong-dispatcher
pingpong-scheduler
pingpong-preempcao
pingpong-preempcao-stress
pingpong-contab
pingpong-contab-prio
pingpong-maintask
*.out
*.txt
*.sol